@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}

.primary-bg-color{
  background-color: #FF7F47;
  color: #fff;
}
.primary-bg-color:hover{
  background-color: hsl(18, 96%, 58%);
  color: #fff;
}

.primary-color{
  color: #FF7F47;

}